Import Packages

In [203]:
import pandas as pd
import numpy as np

Transform into Pandas Dataframe

In [204]:
df = pd.read_csv('car_price.csv')
df.head()
#print(df.info())

,Unnamed: 0,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,2017,1956 cc,5 Seats
1,1,Renault Duster RXZ Turbo CVT,12.83 Lakh,"13,248 kms",Petrol,Automatic,1st Owner,2021,1330 cc,5 Seats
2,2,Toyota Camry 2.5 G,16.40 Lakh,"60,343 kms",Petrol,Automatic,1st Owner,2016,2494 cc,5 Seats
3,3,Honda Jazz VX CVT,7.77 Lakh,"26,696 kms",Petrol,Automatic,1st Owner,2018,1199 cc,5 Seats
4,4,Volkswagen Polo 1.2 MPI Highline,5.15 Lakh,"69,414 kms",Petrol,Manual,1st Owner,2016,1199 cc,5 Seats

In [205]:
df = df.drop(['Unnamed: 0'], axis=1)    # drop the unnamed column
df.head()

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,2017,1956 cc,5 Seats
1,Renault Duster RXZ Turbo CVT,12.83 Lakh,"13,248 kms",Petrol,Automatic,1st Owner,2021,1330 cc,5 Seats
2,Toyota Camry 2.5 G,16.40 Lakh,"60,343 kms",Petrol,Automatic,1st Owner,2016,2494 cc,5 Seats
3,Honda Jazz VX CVT,7.77 Lakh,"26,696 kms",Petrol,Automatic,1st Owner,2018,1199 cc,5 Seats
4,Volkswagen Polo 1.2 MPI Highline,5.15 Lakh,"69,414 kms",Petrol,Manual,1st Owner,2016,1199 cc,5 Seats

Detect Missing Values

In [206]:
missing_values = df.isnull().sum()
print(f"Missing Values: {missing_values}")

Missing Values: car_name               0
car_prices_in_rupee    0
kms_driven             0
fuel_type              0
transmission           0
ownership              0
manufacture            0
engine                 0
Seats                  0
dtype: int64

Convert Car Prices to a Nominal Amount

In [207]:
def convert_price(price_str):
    try:
        num_value = float(price_str.split(" ")[0])

        return num_value*100000
    except ValueError:
        return None
df['car_prices_in_rupee'] = df['car_prices_in_rupee'].apply(convert_price)
df.head()

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,Jeep Compass 2.0 Longitude Option BSIV,1003000.0,"86,226 kms",Diesel,Manual,1st Owner,2017,1956 cc,5 Seats
1,Renault Duster RXZ Turbo CVT,1283000.0,"13,248 kms",Petrol,Automatic,1st Owner,2021,1330 cc,5 Seats
2,Toyota Camry 2.5 G,1640000.0,"60,343 kms",Petrol,Automatic,1st Owner,2016,2494 cc,5 Seats
3,Honda Jazz VX CVT,777000.0,"26,696 kms",Petrol,Automatic,1st Owner,2018,1199 cc,5 Seats
4,Volkswagen Polo 1.2 MPI Highline,515000.0,"69,414 kms",Petrol,Manual,1st Owner,2016,1199 cc,5 Seats

In [208]:
# Remove the string in the engine column
def convert_engine(cc_str):
    try:
        num_value = float(cc_str.split(" ")[0])
        return num_value
    except ValueError:
        return None
df['engine'] = df['engine'].apply(convert_engine)
df.head()

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,Jeep Compass 2.0 Longitude Option BSIV,1003000.0,"86,226 kms",Diesel,Manual,1st Owner,2017,1956.0,5 Seats
1,Renault Duster RXZ Turbo CVT,1283000.0,"13,248 kms",Petrol,Automatic,1st Owner,2021,1330.0,5 Seats
2,Toyota Camry 2.5 G,1640000.0,"60,343 kms",Petrol,Automatic,1st Owner,2016,2494.0,5 Seats
3,Honda Jazz VX CVT,777000.0,"26,696 kms",Petrol,Automatic,1st Owner,2018,1199.0,5 Seats
4,Volkswagen Polo 1.2 MPI Highline,515000.0,"69,414 kms",Petrol,Manual,1st Owner,2016,1199.0,5 Seats

In [209]:
# Remove the string in the power kms_driven
def convert_kms(kms_str):
    try:
        # Remove commas and 'kms', then convert to integer
        return int(kms_str.replace(',', '').replace(' kms', ''))
    except ValueError:
        return None

# Apply the conversion function to the 'kms_driven' column
df['kms_driven'] = df['kms_driven'].apply(convert_kms)

# Display the modified DataFrame
df.head()

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,Jeep Compass 2.0 Longitude Option BSIV,1003000.0,86226,Diesel,Manual,1st Owner,2017,1956.0,5 Seats
1,Renault Duster RXZ Turbo CVT,1283000.0,13248,Petrol,Automatic,1st Owner,2021,1330.0,5 Seats
2,Toyota Camry 2.5 G,1640000.0,60343,Petrol,Automatic,1st Owner,2016,2494.0,5 Seats
3,Honda Jazz VX CVT,777000.0,26696,Petrol,Automatic,1st Owner,2018,1199.0,5 Seats
4,Volkswagen Polo 1.2 MPI Highline,515000.0,69414,Petrol,Manual,1st Owner,2016,1199.0,5 Seats

In [210]:
# Remove the string in the Seats column
def convert_seats(seats_str):
    try:
        return int(seats_str.replace(' Seats', ''))
    except ValueError:
        return None
df['Seats'] = df['Seats'].apply(convert_seats)
df.head()

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,Jeep Compass 2.0 Longitude Option BSIV,1003000.0,86226,Diesel,Manual,1st Owner,2017,1956.0,5
1,Renault Duster RXZ Turbo CVT,1283000.0,13248,Petrol,Automatic,1st Owner,2021,1330.0,5
2,Toyota Camry 2.5 G,1640000.0,60343,Petrol,Automatic,1st Owner,2016,2494.0,5
3,Honda Jazz VX CVT,777000.0,26696,Petrol,Automatic,1st Owner,2018,1199.0,5
4,Volkswagen Polo 1.2 MPI Highline,515000.0,69414,Petrol,Manual,1st Owner,2016,1199.0,5

In [211]:
# Remove the string in the ownership column
def extract_first_integer(ownership_str):
    try:
        return int(''.join(filter(str.isdigit, ownership_str)))
    except ValueError:
        return None
df.head(20)

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,Jeep Compass 2.0 Longitude Option BSIV,1003000.0,86226,Diesel,Manual,1st Owner,2017,1956.0,5
1,Renault Duster RXZ Turbo CVT,1283000.0,13248,Petrol,Automatic,1st Owner,2021,1330.0,5
2,Toyota Camry 2.5 G,1640000.0,60343,Petrol,Automatic,1st Owner,2016,2494.0,5
3,Honda Jazz VX CVT,777000.0,26696,Petrol,Automatic,1st Owner,2018,1199.0,5
4,Volkswagen Polo 1.2 MPI Highline,515000.0,69414,Petrol,Manual,1st Owner,2016,1199.0,5
5,Volkswagen Vento 1.2 TSI Highline AT,766000.0,49719,Petrol,Automatic,1st Owner,2017,1197.0,5
6,Volkswagen Vento 1.2 TSI Highline Plus AT,758000.0,43688,Petrol,Automatic,1st Owner,2017,1197.0,5
7,Honda WR-V VX Diesel,1160000.0,14470,Diesel,Manual,1st Owner,2021,1498.0,5
8,Honda City i VTEC CVT SV,699000.0,21429,Petrol,Automatic,1st Owner,2015,1497.0,5
9,Renault Duster Petrol RXS CVT,753000.0,31750,Petrol,Automatic,1st Owner,2017,1498.0,5
10,Maruti Baleno 1.2 Alpha,643000.0,38203,Petrol,Manual,1st Owner,2017,1197.0,5
11,Honda City i VTEC CVT SV,543000.0,110284,Petrol,Automatic,1st Owner,2014,1497.0,5
12,Mahindra XUV300 W6,862000.0,10381,Petrol,Manual,1st Owner,2020,1197.0,5
13,Jeep Compass 1.4 Limited Plus BSIV,1678000.0,32378,Petrol,Automatic,1st Owner,2019,1368.0,5
14,Honda City V MT,1003000.0,38906,Petrol,Manual,1st Owner,2020,1498.0,5
15,Hyundai Grand i10 AT Asta,563000.0,59313,Petrol,Automatic,2nd Owner,2016,1197.0,5
16,Hyundai i20 1.4 Asta,667000.0,85672,Diesel,Manual,1st Owner,2017,1396.0,5
17,Maruti Ciaz 1.4 Delta,673000.0,34971,Petrol,Manual,2nd Owner,2017,1373.0,5
18,Nissan Micra XL Optional,321000.0,35894,Petrol,Manual,2nd Owner,2015,1198.0,5
19,Maruti Ciaz Alpha Automatic BSIV,850000.0,56000,Petrol,Automatic,1st Owner,2019,1462.0,5

In [212]:
def preprocess_data(df):
    # Create a new column 'num_users' by applying the extract_first_integer function
    df['num_owners'] = df['ownership'].apply(extract_first_integer)

    # Drop the original 'ownership' column
    df.drop(columns=['ownership'], inplace=True)

    return df

# Call the preprocess_data function
df = preprocess_data(df)

# Display the modified DataFrame
#df = df.sort_values(by='num_owners', ascending=False)
#print(df)

df.head(20)

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,manufacture,engine,Seats,num_owners
0,Jeep Compass 2.0 Longitude Option BSIV,1003000.0,86226,Diesel,Manual,2017,1956.0,5,1
1,Renault Duster RXZ Turbo CVT,1283000.0,13248,Petrol,Automatic,2021,1330.0,5,1
2,Toyota Camry 2.5 G,1640000.0,60343,Petrol,Automatic,2016,2494.0,5,1
3,Honda Jazz VX CVT,777000.0,26696,Petrol,Automatic,2018,1199.0,5,1
4,Volkswagen Polo 1.2 MPI Highline,515000.0,69414,Petrol,Manual,2016,1199.0,5,1
5,Volkswagen Vento 1.2 TSI Highline AT,766000.0,49719,Petrol,Automatic,2017,1197.0,5,1
6,Volkswagen Vento 1.2 TSI Highline Plus AT,758000.0,43688,Petrol,Automatic,2017,1197.0,5,1
7,Honda WR-V VX Diesel,1160000.0,14470,Diesel,Manual,2021,1498.0,5,1
8,Honda City i VTEC CVT SV,699000.0,21429,Petrol,Automatic,2015,1497.0,5,1
9,Renault Duster Petrol RXS CVT,753000.0,31750,Petrol,Automatic,2017,1498.0,5,1
10,Maruti Baleno 1.2 Alpha,643000.0,38203,Petrol,Manual,2017,1197.0,5,1
11,Honda City i VTEC CVT SV,543000.0,110284,Petrol,Automatic,2014,1497.0,5,1
12,Mahindra XUV300 W6,862000.0,10381,Petrol,Manual,2020,1197.0,5,1
13,Jeep Compass 1.4 Limited Plus BSIV,1678000.0,32378,Petrol,Automatic,2019,1368.0,5,1
14,Honda City V MT,1003000.0,38906,Petrol,Manual,2020,1498.0,5,1
15,Hyundai Grand i10 AT Asta,563000.0,59313,Petrol,Automatic,2016,1197.0,5,2
16,Hyundai i20 1.4 Asta,667000.0,85672,Diesel,Manual,2017,1396.0,5,1
17,Maruti Ciaz 1.4 Delta,673000.0,34971,Petrol,Manual,2017,1373.0,5,2
18,Nissan Micra XL Optional,321000.0,35894,Petrol,Manual,2015,1198.0,5,2
19,Maruti Ciaz Alpha Automatic BSIV,850000.0,56000,Petrol,Automatic,2019,1462.0,5,1

In [216]:
#function for binary variables where we specify the true and false values
def columns_binary(df, column_names: list, true_value, false_value):
    for column_name in column_names:
        df[column_name] = df[column_name].replace({true_value: 1, false_value: 0})
    return df

df = columns_binary(df, ['transmission'], 'Automatic', 'Manual')

df.head(20)

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,manufacture,engine,Seats,num_owners
0,Jeep Compass 2.0 Longitude Option BSIV,1003000.0,86226,0,0,2017,1956.0,5,1
1,Renault Duster RXZ Turbo CVT,1283000.0,13248,1,1,2021,1330.0,5,1
2,Toyota Camry 2.5 G,1640000.0,60343,1,1,2016,2494.0,5,1
3,Honda Jazz VX CVT,777000.0,26696,1,1,2018,1199.0,5,1
4,Volkswagen Polo 1.2 MPI Highline,515000.0,69414,1,0,2016,1199.0,5,1
5,Volkswagen Vento 1.2 TSI Highline AT,766000.0,49719,1,1,2017,1197.0,5,1
6,Volkswagen Vento 1.2 TSI Highline Plus AT,758000.0,43688,1,1,2017,1197.0,5,1
7,Honda WR-V VX Diesel,1160000.0,14470,0,0,2021,1498.0,5,1
8,Honda City i VTEC CVT SV,699000.0,21429,1,1,2015,1497.0,5,1
9,Renault Duster Petrol RXS CVT,753000.0,31750,1,1,2017,1498.0,5,1
10,Maruti Baleno 1.2 Alpha,643000.0,38203,1,0,2017,1197.0,5,1
11,Honda City i VTEC CVT SV,543000.0,110284,1,1,2014,1497.0,5,1
12,Mahindra XUV300 W6,862000.0,10381,1,0,2020,1197.0,5,1
13,Jeep Compass 1.4 Limited Plus BSIV,1678000.0,32378,1,1,2019,1368.0,5,1
14,Honda City V MT,1003000.0,38906,1,0,2020,1498.0,5,1
15,Hyundai Grand i10 AT Asta,563000.0,59313,1,1,2016,1197.0,5,2
16,Hyundai i20 1.4 Asta,667000.0,85672,0,0,2017,1396.0,5,1
17,Maruti Ciaz 1.4 Delta,673000.0,34971,1,0,2017,1373.0,5,2
18,Nissan Micra XL Optional,321000.0,35894,1,0,2015,1198.0,5,2
19,Maruti Ciaz Alpha Automatic BSIV,850000.0,56000,1,1,2019,1462.0,5,1

In [217]:
df.to_csv('cleaned_data.csv', index=False)